#vehiclesWrapper {
  #formVehicleWrapper {
    display: none;
    #archived {
      height: 1.7rem;
      width: 1.7rem;
    }
    .notes-header {
      display: flex;
      button.toolbar-button {
        margin: 0;
      }
    }
  }
}