#vehiclesWrapper #formVehicleWrapper {
  display: none;
}
#vehiclesWrapper #formVehicleWrapper .notes-header {
  display: flex;
}
#vehiclesWrapper #formVehicleWrapper .notes-header button.toolbar-button {
  margin: 0;
}
